# Mengabaikan semua dependencies (biar gak berceceran)
node_modules/
uri-js/
v8-compile-cache-lib/
vali-date/
whatwg-encoding/
whatwg-mimetype/
which/
word-wrap/
yn/
yocto-queue/
zod/

# Mengabaikan file kredensial asli di folder src
src/account.json
src/accounts.dev.json
src/config.json

# Mengabaikan semua sesi cookies (Paling Penting!)
src/sessions/

# Mengabaikan file log sampah
*.log